<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container"> 
   <div class="container-fluid">
    <h1 style = "text-align:center" class="display-6 p-4 mb-4 bg-primary text-dark "> <b> <%= title %> </b></h1>
    
  </div>
</main>
<!-- Home Content -->
<% if (title == 'Home') { %>  
<div class="container">
<h2>Welcome to my Portfolio</h2>
<p><i>My Mission is to provide software solutions to any problem</i></p>
<hr>
<h4><a href="/About">Want to know more about me?</a></h4>
<hr>
<h4><a href="/Projects">Projects</a></h4>
<hr>
<h4><a href="/Services">Services Offered</a></h4>
<hr>
<h4><a href="/Contact">Contact Me</a></h4>
<hr>

<% } else  { %>
<% } %> 

<!-- About me Content -->
<% if (title == 'About me') { %>
<div class="container">
<style>
section {
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
</style>
<section>
<img src="/Assets/images/headshot.png" alt="logo"  width="250" height="220">
<article>
<div class="container-fluid">
<h4><b>Adrian B. Posadas</b></h4>
<p><b>Education</b><br>2007-2011: Balchelor of Science Major in Electronics Engineering<br>2022: Advanced Diploma in Software Engineering Technology - Artificial Intelligence.</p>
<p><b>Hobbies and Interest</b><br>Sports: Football, Ultimate Frisbee, Basketball<br>Playing Video Games.</p>
<p><a href="/Content/AdrianPosadas Resume_2021_CA.pdf">Click here to see my Resume</a></p>
</article>
</section>
<% } else  { %>
<% } %> 

<!-- Projects Content -->
<% if (title == 'Projects') { %>  
<div class="container">
<style>
section {
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
</style>
<section>
<p><img src="/Assets/images/motor.jpg" alt="motor"  width="150" height="100">
<br><img src="/Assets/images/pwm.png" alt="pwm"  width="150" height="100">
</p>

<article>
<div class="container-fluid">
<h4><b>POWER CONTROL FOR CONTINUOUS DUTY AC MOTORS <br>USING PULSE WITH MODULATION</b></h4>
<p>Using a PIC Microcontroller’s Pulse Width Modulation function,<br>I made a program that controls a continuous AC motor’s speed <br> and thus controlling the power consumption of the motor</p>

</article>
</section>
<section>
<p><img src="/Assets/images/temp.jpeg" alt="temp"  width="150" height="100">
<br><img src="/Assets/images/qrscan.jpg" alt="qr"  width="150" height="100">
</p>

<article>
<div class="container-fluid">
<h4><b>HEALTH MONITORING SURVEY FORM <br>AND CONTACT TRACING SYSTEM</b></h4>
<p>This systems upload your contact info and vaccination status to a cloud.<br>When entering establishments, scanning a qr code will provide your info. <br> As a result, contact tracing process will be faster and smoother</p>
<p> Currently, this project is still under developent</p>
</article>
</section>

<% } else  { %>
<% } %> 

<!-- Services Content -->
<% if (title == 'Services') { %>  
<div class="container">
<h3>What Sevices do I Offer?</h3>
<p>I provide services on General Programming, Web Development, and Artificial Intelligence</p>
<hr>
<h3>Programming Languages:</h3>
<p>Python<br> Java<br> Javascript<br></p>
<img src="/Assets/images/java.png" alt="java"  width="100" height="100">
<img src="/Assets/images/js.png" alt="javascript"  width="100" height="100">
<img src="/Assets/images/python.png" alt="python"  width="100" height="100">
<hr>

<% } else  { %>
<% } %> 

<!-- Contact Content -->
<% if (title == 'Contact') { %>  
<div class="container">
<h3><i class="fas fa-mobile-alt"></i> +1-437-256-6158 </h3>
<h3><i class="far fa-envelope"></i> <a href="mailto:posadas.adrian22@gmail.com">Send email</a> </h3>
<h5><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/adrian.posadas/">Add me on Facebook</a> </h5>
<h5><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/adb22_/"> Follow me on Instagram</a> </h5>
<h5><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/adrian-posadas-a363b3b8/"> Follow me on LinkedIn</a> </h5>
<a href="https://www.facebook.com/adrian.posadas/"><img src="/Assets/images/fb.png" alt="facebook"  width="40" height="40"></a>
<a href="https://www.instagram.com/adb22_/"><img src="/Assets/images/ig.png" alt="instagram"  width="25" height="25"></a>
<a href="https://www.linkedin.com/in/adrian-posadas-a363b3b8/"><img src="/Assets/images/linkedin.png" alt="linkedin"  width="25" height="25"></a>
<img src="/Assets/images/whatsapp.png" alt="whatsapp"  width="25" height="25">
<hr>


<% } else  { %>
<% } %> 
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>

  




