<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container"> 
   <div class="container-fluid">
    <h1 style = "text-align:center" class="display-6 p-4 mb-4 bg-primary text-dark "> <b> <%= title %> </b></h1>
    
  </div>
</main>
<!-- Home Content -->
<%- include partials/home.ejs %>

<!-- About me Content -->
<%- include partials/about.ejs %>

<!-- Projects Content --> 
<%- include partials/projects.ejs %>

<!-- Services Content -->
<%- include partials/services.ejs %>

<!-- Contact Content -->
<%- include partials/contact.ejs %>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>

  




