<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>

            <% if (typeof displayName == 'string' && displayName) { %> 
                <a href="/contacts-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Contact</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-3">Name</th>
                    <th class="text-center col-1">Contact Number</th>
                    <th class="text-center col-4">Email Address</th>
                <% if (typeof displayName == 'string' && displayName) { %> 
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < ContactsList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-3"><%= ContactsList[count].contact_name %></td>
                        <td class="text-center col-1"><%= ContactsList[count].contact_number %></td>
                        <td class="text-center col-4"><%= ContactsList[count].email_address %></td>
                        <% if (typeof displayName == 'string' && displayName) { %> 
                            <td class="text-center col-2">
                                <a href="/contacts-list/edit/<%= ContactsList[count]._id %>" class="bt btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Update</a>
                            </td>
                            <td class="text-center col-2">
                                <a href="/contacts-list/delete/<%= ContactsList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





